@charset "UTF-8";
/* 
Colors
Background: #282828
Lift_1: 
Lift_2:
Lift_3:
Text: 
Button_unpressed:
Button_pressed:
Styles:
Offset: 6px
Spread: 16px
Inner spread: 8px
Opacity: 0.1
*/
/*Body*/
body{
	font-family: "Baloo Thambi 2", sans-serif;
	background-color: #282828;
	margin: 0;
}

/*General*/
.margin_32{
	margin: 32px;
}
/*Main container*/
.main_box{
	/*Make this div the size of the page*/
	width: 90vw;
	height: 90vh;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	/*Colors and stuff*/
	background-color: #363636;
	/*Neumorphism*/
	border-radius: 30px;
	box-shadow: calc(0px - 6px) calc(0px - 6px) 16px 0 rgba(0,0,0,0.1), 6px 6px 16px 0 rgba(0,0,0,0.1), inset calc(0px - 6px) calc(0px - 6px) 8px 0 rgba(0,0,0,0.1), inset 6px 6px 8px 0 rgba(255,255,255,0.1);
}

.main_box_internal{
	padding: 25px;
}
/*Text formatting stuff (cringe)*/
.title{
	margin-top: -5px;
	font-size: 45px;
	
}
