@charset "UTF-8";
/*Background*/
html{
	background: #000814;
}

body{
	/*background-color: #1A1A1A;*/
	margin: 0;
}
/*-------------------------------------------------------Colors-------------------------------------------------------*/
/*
background:
accent 1:
accent 2:
text 1:
text focus:
*/
/*-------------------------------------------------------Header-------------------------------------------------------*/
.header{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 1.5rem;
}

.nav{
	width: 100%;
	background-color: rgba(76, 76, 76, 0.36);
	color: #B2BEB5;
	padding: 15px 0;
	text-align: center;
	display: flex;
	justify-content: space-around;
	border-radius: 5rem;
	backdrop-filter: blur(4px);
}
/*-------------------------------------------------------Body---------------------------------------------------------*/
.main{
	padding: 50px;
	width: 100px;
	height: 5000px; !important;
	background-color: #001d3d;
}
/*-------------------------------------------------------VFX----------------------------------------------------------*/
/*Hacked (https://codepen.io/Hyperplexed/pen/rNrJgrd)*/
/*SEE HACKED.JS*/
/*Construction sign*/
.construction{
	visibility: hidden;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -90vh;
	display: block;
	-webkit-animation:spin 15s linear infinite;
}
@keyframes spin{
	100% {
		transform:rotate(360deg);
	}
}

/*TODO: Maybe use these:
	   https://codepen.io/adamcurzon/pen/ExrwpMN	ABOUT ME/HIGHLIGHT
	   https://codepen.io/amit_sheen/pen/wvORNYm	NAME/GREETING
	   https://codepen.io/davideast/pen/MWxvzjm		BUTTONS
   */