@charset "UTF-8";
/*Background*/
html{
	background: black;
}

body{
	margin: 0;
}
/*-------------------------------------------------------Colors-------------------------------------------------------*/
/*
background: black
accent 1: #171715
accent 2:
text 1: #9c9c9c
text 1 hover: #CBC3C8
text important:
text important hover:
*/
/*-------------------------------------------------------Fonts--------------------------------------------------------*/
/*
Header:
Name/Greeting:
*/
/*-------------------------------------------------------Header-------------------------------------------------------*/
.header{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 1.5rem;
	display:flex;
	justify-content: center;
	/*Fonts/Colors*/
	font-family: "input-mono-compressed", monospace;
	color: #D5D0D3;
	a:link{
		color: #9c9c9c;
		text-decoration: none;
	}
	a:visited{
		color: #9c9c9c;
		text-decoration: none;
	}
	a:hover{ /*TODO: ADD HOVER ANIMATIONS*/
		color: #CBC3C8;
	}
	a:active{
		color: #CBC3C8;
	}
}

.nav{
	width: 100%;
	max-width: 1000px;
	min-width: 600px;
	background-color: rgba(76, 76, 76, 0.36);
	color: #B2BEB5;
	padding: 0 0;
	text-align: center;
	display: flex;
	justify-content: space-around;
	border-radius: 2rem;
	backdrop-filter: blur(4px);
}

.nav_ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.textItem{
	padding-top: 5px;
}

.links{
	display: inline-flex;
	align-items: center;
}

.headerImgLink{
	width: 32px;
	display: inline-flex;
	border: none;
	background: transparent;
}

.headerLinkImg{
	width: 100%;
	filter: invert(65%); sepia(0%) saturate(7463%) hue-rotate(222deg) brightness(150%) contrast(115%);
}

.headerLinkImg:hover{
	filter: invert(65%) sepia(0%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}
/*-------------------------------------------------------Body---------------------------------------------------------*/
/*Name/Greeting*/
.home{
	display: flex;
	justify-content: center;
}

.marquee_outer{
	width: 100%;
	max-width: 1000px;
	min-width: 600px;
	padding-top: 35vh;
	padding-bottom: 45vh;
	display: flex;
	justify-content: center;
	font-size: min(80px, 8vw);
}

.marquee{
	color: #ffffff;
	position: relative;
	width: 80%;
	min-width: 300px;
	height: 2em;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.marquee_blur{
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
	background-color: black;
	background-image:
		linear-gradient(to right, white, 1rem, transparent 50%),
      	linear-gradient(to left, white, 1rem, transparent 50%);
	filter: contrast(15);

	p{
		filter: blur(0.07em);
	}
}

.marquee_clear{
	position: absolute;
	inset: 0;
	display: grid;
	place-items: center;
}
/*Portfolio*/
.portfolio{
	width: 100%;
	display: grid;
	place-items: center;
}

.portInner{
	background-color: #171715;
	width: min(1000px, 100%);
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

.portHead{
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	font-size: min(50px, 5vw);
	font-family: input-mono, monospace;
	color: #9c9c9c;
}

.portBody{
	width: 100%;
	background-color: #171715;
	height: 70vh;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
}

/*Connect with me button*/
.connect{
	width: 100%;
	display: grid;
	place-items: center;
}

.connectInner{
	width: min(1000px, 100%);
	background-color: #171715;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	display: grid;
	place-items: center;
	z-index: 1;
}

.connectText{
	color: #9c9c9c;
	font-family: input-mono, monospace;
	font-size: min(30px, 3vw);
	text-decoration: none;
}
.connectText:link{
	color: #9c9c9c;
	text-decoration: none;
}
.connectText:visited{
	color: #9c9c9c;
	text-decoration: none;
}
.connectText:hover{
	color: #CBC3C8;
	text-decoration: none;
}
.connectText:active{
	color: #CBC3C8;
	text-decoration: none;
}

/*About*/
.about{
	background-color: black;
	display: grid;
	place-items: center;
}

.aboutInner{
	width: min(1000px, 100%);
	margin-top: -50px;
	background-color: #0D0D0C;
	z-index: 0;
}

.aboutHead{
	width: 100%;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 25px;
	text-align: center;
	font-size: min(50px, 5vw);
	font-family: input-mono, monospace;
	color: #9c9c9c;
}

.aboutBody{
	width: 100%;
	height: 70vh;
	position: relative;
}

/*Now Playing*/
.now_playing{
	background-color: #171715;
}
/*-------------------------------------------------------Footer-------------------------------------------------------*/

/*-------------------------------------------------------VFX----------------------------------------------------------*/
/*Hacked (https://codepen.io/Hyperplexed/pen/rNrJgrd)*/
/*SEE HACKED.JS*/
/*Construction sign*/
.construction{
	visibility: visible;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	-webkit-animation:spin 15s linear infinite;
}
@keyframes spin{
	100% {
		transform:rotate(360deg);
	}
}
/*Gooey marquee [Modified heavily](https://codepen.io/amit_sheen/pen/wvORNYm)*/
.marquee_text{
	position: absolute;
	min-width: 100%;
	white-space: nowrap;
	animation: marquee 16s linear infinite;
}
@keyframes marquee{
	0%, 25% {translate: 100%;}
	25%, 50% {translate: 8%;}
	50%, 75% {pause: strong;}
	75%, 100% {translate: -100%;}
}

/*TODO: Maybe use these:
	   https://codepen.io/adamcurzon/pen/ExrwpMN	ABOUT ME/HIGHLIGHT
	   https://codepen.io/davideast/pen/MWxvzjm		BUTTONS
   */